*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(20, 164, 109, 0.889);
    text-align: center;
    
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size:8vmin;
    color: rgba(213, 32, 32, 0.979);
    background-color: rgb(226, 211, 211);
}
#reset_btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(44, 40, 40);
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#new_game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(44, 40, 40);
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: aliceblue;
    font-size: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem
   
}
/* .msg_container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem
} */
.hide{
    display: none;
}